body {
    margin: 0 auto;
    max-width: 80%;
    font-family: sans-serif;
}
header {
    background-color: #2A2F4E;
}
#mapDiv {
    height: 500px;
    margin-top: 1em;
    }
input {
    display: inline;
    border: 2px solid;
    padding: 3px;
    }
.button:hover {
    cursor: pointer;
}
#uzhe_otkliuchili {
	border: 2px solid #008BFE;
    background-color: #008BFE;
    color: white;
            }
#skoro_otkliuchat {
	border: 2px solid #FFBF00;
    background-color: #FFBF00;
    }
#dolzhny_vkliuchit {
	border: 2px solid #EC1313;
    background-color: #EC1313;
    color: white;
    }
