body {
    margin: 0;
    font-family: sans-serif;
}
article, footer {
    margin-left: 1em;
}

#logo {
    display: block;
    background-color: #2A2F4E;
}

#mapDiv {
    width: 70%;
    height: 500px;
    margin-top: 1em;
    }
input {
    display: inline;
    border: 2px solid black;
    padding: 2px;
    font-family: sans-serif;
    }

.text {
    width: 70%;
    display: block;
    }
footer {
    width: 70%;
}

#uzhe_otkliuchili {
    border-color: blue;
}
#skoro_otkliuchat {
    border-color: yellow;
}
#dolzhny_vkliuchit {
    border-color: red;
}
